/* Master Container Styles */
/* 페이지 크기: 1920 x 1080 */
#master-container {
    position: absolute;
    inset: 0;
    width: 1920px;
    height: 1080px;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 240px 1680px;
    grid-template-rows: 60px 1020px;
}

/* Master main area (placeholder) */
#master-container::after {
    content: '';
    grid-area: main;
}
